@media screen and (min-width: 1024px) { .sidebar { background: rgba(0, 177, 183, 0.9); position: absolute; left: 0pc; top: 0px; z-index: 3; display: block; width: 280px; height: 100%; text-align: left; -webkit-box-shadow: 0px 1px 5px 0px #005053; box-shadow: 0px 1px 5px 0px #005053; }
  .sidebar__cont { position: relative; width: 100%; display: block; padding: 125px 0 0 0; }
  .content { padding-left: 300px; }
  .close-sidebar .sidebar { left: -226px; display: block; }
  .close-sidebar .sidebar .menu-sidebar { opacity: 0; }
  .close-sidebar .content { padding-left: 74px; }
  .sidebar-menu { display: block; padding: 0px 0 0 0; }
  .sidebar-menu__item { display: block; }
  .sidebar-menu__link { font-size: 16px; line-height: 20px; color: #ffffff; padding: 12px 20px 12px 30px; text-shadow: 0px 1px 5px #005053; display: block; }
  .sidebar-menu__link:hover { background: #00d3db; }
  .sidebar-menu__item_active .sidebar-menu__link { background: #00d3db; }
  .button-sidebar { position: absolute; right: 15px; top: 95px; height: 22px; width: 22px; }
  .button-sidebar .button-sidebar__cont { position: relative; display: block; }
  .button-sidebar .line { display: block; position: absolute; height: 22px; width: 3px; background: #ffffff; border-radius: 0px; opacity: 1; left: 0; -webkit-transition: .35s ease-in-out; -o-transition: .35s ease-in-out; transition: .35s ease-in-out; -webkit-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.5); box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.5); }
  .button-sidebar .line:nth-child(1) { left: 0px; }
  .button-sidebar .line:nth-child(2) { left: 7px; }
  .button-sidebar .line:nth-child(3) { left: 14px; }
  .button-sidebar.active .line:nth-child(1) { top: 0px; left: 0px; width: 100%; height: 3px; }
  .button-sidebar.active .line:nth-child(2) { top: 7px; left: 0px; width: 100%; height: 3px; }
  .button-sidebar.active .line:nth-child(3) { top: 14px; left: 0px; width: 100%; height: 3px; }
  .footer-left { width: 330px; }
  .footer-center { padding: 0 345px 0 345px; margin-left: -335px; margin-right: -335px; }
  .box-social { width: 330px; }
  .box-social__item { width: 50px; height: 50px; font-size: 23px; line-height: 28px; padding-top: 14px; }
  .copyright { padding-top: 27px; }
  .box-cont-exchange { left: auto; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); right: 0px; top: auto; bottom: -30%; }
  .exchange-cont__name { font-weight: 600; }
  .box-cont__title { padding-left: 38px; }
  .content_long { padding-left: 0px !important; padding-top: 50px; }
  .sidebar_top { position: absolute; left: 0px; top: 80px; z-index: 99; width: 100% !important; display: block !important; background: #3c3c3c; border-top: solid 2px #c5c9c7; height: auto; }
  .sidebar_top .sidebar__cont { padding: 0px 0px 0px 0px; text-align: center; }
  .sidebar_top .menu-sidebar { display: table; width: 100%; }
  .sidebar_top .sidebar-menu__item { display: table-cell; padding: 10px 11px 10px 11px; }
  .sidebar_top .sidebar-menu__item.active .sidebar-menu__link { color: #badaff; background: none; }
  .sidebar_top .sidebar-menu__link { padding: 0px; font-size: 14px; line-height: 18px; color: #ffffff; }
  .sidebar_top .sidebar-menu__link:hover { color: #badaff; background: none; }
  .hide-desktop { display: none !important; }
  .list-webinars__item { width: 33.33%; margin-right: -5px; } }

@media screen and (min-width: 1200px) { header .wrapper { padding-left: 85px; padding-right: 85px; }
  .sidebar { width: 380px; }
  .content { padding-left: 410px; }
  .sidebar-menu__link { padding: 12px 40px 12px 60px; }
  .close-sidebar .sidebar { left: -326px; }
  .close-sidebar .content { padding-left: 84px; }
  .box-analytics { padding-bottom: 10px; }
  .box-analytics h3 { padding-left: 50px; }
  .box-analytics__item { display: inline-block; vertical-align: top; width: 50%; margin-right: -5px; padding: 10px 20px 30px 20px; }
  .footer-center { padding: 0 445px 0 345px; margin-right: -400px; }
  .box-social { width: 395px; }
  .box-social__item_f { margin-left: 90px; margin-right: 90px; }
  .list-class__item { width: 16.666%; }
  .list-class__link { border: solid 4px #f89929; height: 100px; font-size: 36px; line-height: 40px; padding: 28px 0 0 0; }
  .list-webinars__item { width: 33.33%; margin-right: -5px; } }

@media screen and (min-width: 1200px) { .box-analytics { padding-bottom: 0px; }
  .box-analytics__item { padding: 10px 30px 68px 30px; } }

/*new styles*/
@media screen and (min-width: 1024px) { .students-list { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
  .student-search, .box-students { padding-left: 65px; padding-right: 65px; padding-bottom: 30px; }
  .box-form { margin-left: 140px; }
  .box-form_reg { position: relative; left: 0px; top: 0px; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); margin: 30px auto; }
  .text-info__img { width: 355px; margin-left: 25px; } }

@media screen and (min-width: 1200px) { .box-exchange .btn { height: 44px; font-size: 18px; line-height: 22px; }
  .box-exchange .btn_back { padding-left: 55px; }
  .box-exchange .btn__arr { width: 38px; font-size: 16px; padding-top: 12px; }
  .task-list__item { padding-right: 145px; padding-left: 30px; }
  .task-list__number { right: 45px; }
  .task-summ { font-size: 30px; line-height: 35px; padding-bottom: 30px; padding-right: 45px; }
  .chat-messages-list { padding-top: 20px; }
  .chat-messages-list__img { display: inline-block; vertical-align: bottom; width: 64px; padding: 1px; border: 1px solid #e4e5e7; }
  .chat-messages-list__img img { display: block; width: 100%; }
  .chat-messages-list__cont { max-width: 549px; display: inline-block; width: -webkit-calc(100% - 99px); width: calc(100% - 99px); margin-left: 30px; padding-right: 70px; padding-left: 22px; padding-top: 10px; padding-bottom: 10px; }
  .chat-messages-list__item { padding-left: 0; padding-right: 0; padding-top: 10px; padding-bottom: 10px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
  .chat-messages-list__item_right { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
  .chat-messages-list__item_right .chat-messages-list__img { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; margin-right: 0; margin-left: 30px; }
  .chat-messages-list__item_right .chat-messages-list__cont { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; margin-left: 0; }
  .chat-messages-list__name { display: none; }
  .chat-messages-list__date { position: absolute; right: 20px; bottom: 10px; font-size: 16px; line-height: 19px; } }

@media screen and (min-width: 1370px) { .students-list { -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; }
  .exchange-button .btn + .btn { margin-left: 29%; } }

@media screen and (min-width: 1500px) { .students-list { -webkit-column-count: 5; -moz-column-count: 5; column-count: 5; }
  .exchange-button .btn + .btn { margin-left: 25%; }
  .text-info__img { padding: 2px; width: 455px; border-width: 2px; margin-left: 45px; } }

@media screen and (min-width: 1200px) { .col_3 { width: 360px; }
  .col_2 { width: 125px; }
  .last-mess__img { margin-top: -15px; margin-bottom: -15px; height: 84px; padding-top: 15px; border-right: 1px solid #e4e5e7; padding-right: 15px; width: 67px; }
  .last-mess__text { margin-left: -73px; padding-left: 85px; }
  .question__cont { padding-left: 50px; padding-right: 50px; }
  .question-right p, .question-left__title, .question__date { font-size: 16px; line-height: 21px; font-weight: 500; } }

@media screen and (min-width: 1400px) { .question-right { padding-left: 160px; } }

@media screen and (min-width: 1500px) { .last-mess__img { height: 84px; padding-top: 17px; }
  .connection-list .col { height: 84px; } }

@media screen and (min-width: 1200px) { .question-button { padding-top: 15px; }
  .question__cont .question-button { margin-right: -28px; } }

/*# sourceMappingURL=style_1024.css.map */
